<app-section [sectionTitle]="'Add Task'">
  <form autocomplete="off" (submit)="handleSubmit()" class="add-todo-form">
    <label class="add-todo-form__field" for="name">
      <h2>Name</h2>
      <input type="text" name="name" id="name" [(ngModel)]="name" />
    </label>

    <label class="add-todo-form__field" for="hour">
      <h2>Hour</h2>
      <input type="time" name="hour" [(ngModel)]="time" [min]="minHour" />
    </label>

    <label class="add-todo-form__field" for="today">
      <h2>Today</h2>
      <app-switch [value]="today" (onChange)="today = $event"></app-switch>
    </label>

    <app-button
      [disabled]="!enableSubmit"
      [type]="'submit'"
      [fullWidth]="true"
      [color]="'black'"
    >
      Done
    </app-button>

    <p>If you disable today, the task will be considered as tomorrow</p>
  </form>
</app-section>
