<article [ngClass]="{ 'task--completed': _completed }" class="task">
  <div class="task__action">
    <label *ngIf="!readonly; else showBullet" class="custom-checkbox">
      <input
        type="checkbox"
        checked="checked"
        [ngModel]="_completed"
        (ngModelChange)="toggleCompleted($event)"
      />
      <span class="checkmark"></span>
    </label>

    <ng-template #showBullet>
      <span class="task-list-bullet"></span>
    </ng-template>
  </div>

  <div class="task__content">
    <p>{{ name || "DEFAULT" }}</p>
    <span>{{ time }}</span>
  </div>

  <button (click)="handleDelete(identifier)" class="task__delete-btn">
    <span class="material-symbols-outlined"> delete </span>
  </button>
</article>
