<div class="app-root">
  <app-section [sectionTitle]="'Today'" [customContentClass]="'task-list'">
    <app-task></app-task>
    <app-task></app-task>
    <app-task></app-task>
    <app-task></app-task>
    <app-task></app-task>
    <app-task></app-task>
    <app-task></app-task>
    <app-task></app-task>
    <app-task></app-task>
    <app-task></app-task>
    <app-task></app-task>
    <app-task></app-task>
  </app-section>

  <app-section [sectionTitle]="'Tomorrow'" [customContentClass]="'task-list'">
    <app-task [readonly]="true"></app-task>
    <app-task [readonly]="true"></app-task>
    <app-task [readonly]="true"></app-task>
    <app-task [readonly]="true"></app-task>
    <app-task [readonly]="true"></app-task>
    <app-task [readonly]="true"></app-task>
    <app-task [readonly]="true"></app-task>
    <app-task [readonly]="true"></app-task>
    <app-task [readonly]="true"></app-task>
    <app-task [readonly]="true"></app-task>
  </app-section>
  <app-add-task></app-add-task>
</div>
