<div [ngClass]="{ 'add-todo--active': showModal }" class="add-todo">
  <div class="app-btn">
    <app-button
      (onclick)="handleToggleModal()"
      [color]="'black'"
      [rounded]="true"
    >
      <span class="material-symbols-outlined"> add </span>
    </app-button>
  </div>

  <div class="add-todo__container">
    <div (click)="handleToggleModal()" class="add-todo-overlay"></div>

    <div class="add-todo-content">
      <div class="add-todo__header">
        <button (click)="handleToggleModal()">
          <span class="material-symbols-outlined"> arrow_back </span>
          Close
        </button>

        <h2>Task</h2>
      </div>

      <app-add-todo-form (onsubmit)="handleSubmit($event)"></app-add-todo-form>
    </div>
  </div>
</div>
