@use "../../assets/scss/colors" as colors;

.app-switch {
  width: 52px;
  height: 32px;
  border-radius: 20px;
  border: none;
  outline: none;
  display: inline-block;
  padding: 2.5px;
  position: relative;

  &__toggle {
    transition: 0.3s all;
    background-color: colors.$white;
    border-radius: 50%;
    display: inline-block;
    height: calc(100% - 5px);
    position: absolute;
    top: 2.5px;
    width: calc(58% - 3.5px);
  }

  &--enabled {
    background-color: colors.$green;

    .app-switch__toggle {
      left: calc(45% - 1.5px);
    }
  }

  &--disabled {
    background-color: colors.$lightgray;

    .app-switch__toggle {
      left: 4px;
    }
  }
}
