.add-task {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 24px;
  position: fixed;
  bottom: 0;
  background-color: #fafafa;
  max-width: 480px;
  margin: 0 auto;


  button {
    display: flex;
    gap: 6px;
    line-height: 1;
    align-items: center;
    border: none;
    outline: none;
    color: #007aff;
    background-color: transparent;
    font-size: 18px;
    font-weight: 500;
  }

  &--active {
    .add-task__container {
      bottom: 0;

      .add-task-overlay {
        display: inline-block;
      }

      .add-task-content {
        bottom: 0;
      }
    }
  }

  &__header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    background-color: #f9f9f9;
    padding: 18px 12px;
    border-bottom: 1px solid lightgray;

    h2 {
      justify-self: center;
      font-weight: 600;
      font-size: 20px;
    }

    button {
      justify-self: flex-start;
    }
  }

  &__container {
    display: flex;
    align-items: end;

    .add-task-overlay {
      background-color: rgba($color: #000, $alpha: 0.25);
      display: none;
      left: 0;
      min-height: 100vh;
      position: fixed;
      width: 100%;
      z-index: 5;
    }

    .add-task-content {
      background-color: #fafafa;
      border-radius: 20px 20px 0 0;
      bottom: -100%;
      left: 0;
      min-height: 95vh;
      overflow: hidden;
      position: fixed;
      transition: 0.3s bottom;
      width: 100%;
      z-index: 10;
    }
  }
}
