@use "../../assets/scss/colors" as colors;

.app-button {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 4px 12px;
  border-radius: 12px;
  min-width: 46px;
  min-height: 46px;
  font-family: "Montserrat", sans-serif;
  transition: 0.3s background-color;

  &--is-rounded {
    border-radius: 50% !important;
  }

  &--is-full-width {
    width: 100% !important;
  }

  &--is-black {
    background-color: colors.$black-1;
    color: colors.$white;
  }

  &--is-transparent {
    color: colors.$black-1;
    background-color: transparent;
  }

  &--is-disabled {
    background-color: colors.$lightgray !important;
    cursor: not-allowed;
    color: colors.$white;
  }
}
